
<div class="row">
  <div class="col-md-4">
    <mat-card class="transparent" routerLink="../products/Stripboeken">
      <img class="img-responsive center-block" src="https://i.imgur.com/1q5uS45.png">
      <h2 class="title">Stripboeken</h2>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="transparent" routerLink="../products/Films">
      <img class="img-responsive center-block" src="https://i.imgur.com/kvUnsew.png">
      <h2 class="title">Films</h2>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="transparent" routerLink="../products/Merchandise">
      <img class="img-responsive center-block" src="https://i.imgur.com/auNIb1P.jpg">
      <h2 class="title">Merchandise</h2>
    </mat-card>
  </div>
</div>
