/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/css/bootstrap.min.css";
@import "assets/css/font-awesome.min.css";
@import "assets/css/lifestyle.min.css";
@import "assets/css/google-font.css";
body{
  background: url("https://i.imgur.com/rUxvagB.jpg") no-repeat;
  background-size:auto;
}
@font-face {
  font-family: AvengerFont;
  src: url("AVENGEANCE HEROIC AVENGER.ttf");

}

@media screen and (min-width: 2500px) {
  body{
    /* background: url("https://i.imgur.com/nRmugUR.jpg") no-repeat fixed; */
    background: url("https://i.imgur.com/rUxvagB.jpg") no-repeat fixed;
    background-size:auto;
  }
}
