#product-img{
  max-width: 100px;
  max-height: 100px;
}
#table{
  background-color: white;
}
#centered{
  background-color: white;
}
#title{
  font-weight: bold;
  text-align: center;
  font-size: 6em;
  color: black;
  font-family: AvengerFont;
}
#totaal{
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
}
#emptymessage{
  font-weight: bold;
  text-align: center;
  color: black;
}
#cart {
  margin: 0.5em;
  margin-left: 40%;
}
.rightalign{
  text-align: right;
}
.centeralign{
  text-align: center;
}
