<mat-card>
  <mat-card-header>
    <mat-card-title>
        <div>
          <h1 *ngIf="editingAccount==false">Registreren</h1>
          <h1 *ngIf="editingAccount==true">Mijn gegevens</h1>
        </div>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <form name="registerForm" #registerForm="ngForm">
          <mat-form-field class="account-input-field">
           <input matInput placeholder="Voornaam"  name="firstname" required [(ngModel)] = "account.firstname" #firstname="ngModel">
            <mat-error [hidden]="firstname.valid">
              Dit veld is verplicht
            </mat-error>
          </mat-form-field>

          <mat-form-field class="account-input-field">
            <input matInput placeholder="Tussenvoegsel" name="prefix" [(ngModel)] = "account.prefix" #prefix="ngModel" >
          </mat-form-field>

          <mat-form-field class="account-input-field">
            <input matInput placeholder="Achternaam"  name="lastname" required [(ngModel)] = "account.lastname" #lastname="ngModel">
            <mat-error [hidden]="lastname.valid">
              Dit veld is verplicht
            </mat-error>
          </mat-form-field>

          <mat-form-field class="account-input-field">
            <input matInput placeholder="E-mail" name="eMail" required [(ngModel)] = "account.eMail" #eMail="ngModel" >
            <mat-error [hidden]="eMail.valid">
              Dit veld is verplicht
            </mat-error>
          </mat-form-field>

          <mat-form-field class="account-input-field">
            <input matInput placeholder="Straat" name="street" required [(ngModel)] = "account.street" #street="ngModel">
            <mat-error [hidden]="street.valid">
              Dit veld is verplicht
            </mat-error>
          </mat-form-field>

          <mat-form-field class="account-input-field">
          <input matInput placeholder="Huisnummer" name="houseNumber" required [(ngModel)] = "account.houseNumber" #houseNumber="ngModel">
            <mat-error [hidden]="houseNumber.valid">
              Dit veld is verplicht
            </mat-error>
          </mat-form-field>

          <mat-form-field class="account-input-field">
            <input matInput placeholder="Postcode" name="zipCode" required [(ngModel)] = "account.zipCode" #zipCode="ngModel">
            <mat-error [hidden]="zipCode.valid">
              Dit veld is verplicht
            </mat-error>
          </mat-form-field>

          <mat-form-field class="account-input-field">
            <input matInput placeholder="Plaats" name="town" required  [(ngModel)] = "account.town" #town="ngModel">
            <mat-error [hidden]="town.valid">
              Dit veld is verplicht
            </mat-error>
          </mat-form-field>

      <div *ngIf="editingAccount==false">
          <mat-form-field class="account-input-field">
            <input matInput placeholder="Wachtwoord" type="password" required name="password" [(ngModel)] = "account.password" (ngModelChange)="doPasswordsMatch()" #password="ngModel">
          </mat-form-field>

          <mat-form-field class="account-input-field">
            <input matInput placeholder="Wachtwoord herhalen" type="password" required name="passwordRepeat" [(ngModel)] = "account.passwordRepeat" (ngModelChange)="doPasswordsMatch()" #passwordRepeat="ngModel">
          </mat-form-field>
      </div>
      <div *ngIf="editingAccount==true">
        <p><strong>Bevestig met uw wachtwoord:</strong></p>
      <mat-form-field class="account-input-field">
        <input matInput placeholder="Wachtwoord" type="password" required name="password" [(ngModel)] = "account.password" #password="ngModel">
      </mat-form-field>
      </div>

        <div>
      <button *ngIf="editingAccount==true" mat-raised-button type="submit" (click)="updateAccount()" [disabled]="!registerForm.valid" ><span>Gegevens aanpassen</span></button>
      <button *ngIf="editingAccount==false" mat-raised-button type="submit" (click)="createAccount()" [disabled]="!passwordsMatch || !registerForm.valid" ><span>Account aanmaken</span></button>
      </div>
        </form>
        <button mat-raised-button class="mat-warn" routerLink="../../../home"><span>Annuleren</span></button>

  </mat-card-content>
</mat-card>
