<mat-card>
  <mat-card-header>
    <mat-card-title>
        <div>
          <h1 *ngIf="editing == false">Nieuwe Account</h1>
          <h1 *ngIf="editing == true">Account Aanpassen</h1>
        </div>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>

        <form class="account-form" >
          <mat-form-field class="account-input-field">
           <input matInput placeholder="Voornaam"  name="voornnaam" [(ngModel)] = "account.firstname">
          </mat-form-field>

          <mat-form-field class="account-input-field">
            <input matInput placeholder="Tussenvoegsel" name="tussenvoegsel" [(ngModel)] = "account.prefix">
          </mat-form-field>

          <mat-form-field class="account-input-field">
            <input matInput placeholder="Achternaam"  name="achternaam" [(ngModel)] = "account.lastname">
          </mat-form-field>

          <mat-form-field class="account-input-field">
            <input matInput placeholder="Accountnaam" name="accountnaam" [(ngModel)] = "account.username">
          </mat-form-field>

          <mat-form-field class="account-input-field">
            <input matInput placeholder="Wachtwoord" type="password" name="wachtwoord" [(ngModel)] = "account.password" (ngModelChange)="doPasswordsMatch()">
          </mat-form-field>

          <mat-form-field class="account-input-field">
            <input matInput placeholder="Wachtwoord Herhalen" type="password" name="wachtwoord2" [(ngModel)] = "account.password2" (ngModelChange)="doPasswordsMatch()">
            <mat-error *ngIf="!passwordsMatch"> Passwords do not match</mat-error>
          </mat-form-field>
          <div *ngIf="!passwordsMatch">Passwords do not match</div>

          <br>
          <mat-checkbox [color]="primary" name="adminCheck" [(ngModel)] = "account.isAdmin" *ngIf="isCurrentAdmin == true">Admin</mat-checkbox>

          <br>
          <mat-checkbox [color]="primary" name="activeCheck" [(ngModel)] = "account.isActive" *ngIf="isCurrentAdmin == true">Actief</mat-checkbox>

          <br><br>
          <button mat-raised-button [disabled]="!buttonEnable" class="lscnlButton" type="submit"  *ngIf="editing == false" (click)="createAccount()"><span>Aanmaken</span></button>
          <button mat-raised-button [disabled]="!buttonEnable" class="lscnlButton" type="submit"  *ngIf="editing == true" (click)="updateAccount()"><span>Aanpassen</span></button>
          <button mat-raised-button class="mat-warn lscnlButton" routerLinkActive="selected-button" (click)="goAccountOverview()" *ngIf="isCurrentAdmin == true"><span>Annuleren</span></button>
        </form>

  </mat-card-content>
</mat-card>
