<mat-card class="product-row">
  <div class="row product-row row-eq-height">
    <div class="col-md-4">
      <img id="product-img" src={{product.imageURL}}>
    </div>
    <div class="col-md-8">
      <p id="Title">{{product.name}}</p>
      <p>{{product.description}}</p>

      <div class="row bottom">
        <div class="col-md-8"><p id="prijs">prijs: {{product.price | currency:'EUR':true:'1.2-2'}}</p></div>
        <div class="col-md-2"><input id="inputamount" type="number" [(ngModel)] = "amount"></div>
        <div class="col-md-2"><button mat-raised-button (click)="addProductToCart()"><span>toevoegen</span></button></div>
      </div>
    </div>
  </div>
</mat-card>
