#centered{
  background-color: white;
}
#title{
  font-weight: bold;
  text-align: center;
  font-size: 6em;
  color: black;
  font-family: AvengerFont;
}
li {
  list-style-type: none;
}
#emptymessage{
  font-weight: bold;
  text-align: center;
  color: black;
}
