.inputField li{
  margin: 0 0 3px 0;
}

.inputField ul{
  list-style: none;
  display: inline-block;
  *display: inline;
  zoom: 1
}

h2{
  margin-left: 40px;
}

.account-form-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.account-input-field {
  width: 50%;
}

.lscnlButton{
  background-color: transparent;
  border: 2px solid #CC0033;
  color: #cc0033;
  transition: all 0.3s;
  text-align: center;
  white-space: normal !important;
}

.lscnlButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.lscnlButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.3s;
}

.lscnlButton:hover span {
  padding-right: 10px;
}

.lscnlButton:hover span:after {
  opacity: 1;
  right: 0;
}
