<div id="header">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="account">Marvel Comics</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="account">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="account/register"><span class="glyphicon glyphicon-user"></span> Registreren</a></li>
      <li *ngIf="isAuthenticated() == false"><a data-toggle="collapse" data-target="#login"><span class="glyphicon glyphicon-log-in"></span>Inloggen</a></li>
      <li *ngIf="isAuthenticated() == true"><a data-toggle="collapse" data-target="#login"><span class="glyphicon glyphicon-log-in"></span>Mijn account</a></li>
    </ul>
  </div>
</nav>
</div>
<div id="login" *ngIf="isAuthenticated() == false" class="collapse">
  <app-login></app-login>
</div>
