<div id="header">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="home">Marvel Comics</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="products/Stripboeken">Stripboeken</a></li>
      <li><a routerLink="products/Films">Films</a></li>
      <li><a routerLink="products/Merchandise">Merchandise</a></li>
      <li><a routerLink="products/T-shirts">T-shirts</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="cart"><span class="glyphicon glyphicon-shopping-cart"></span> Mijn winkelmandje ( {{cartService.amountInCart}} )</a></li>
      <li *ngIf="isAuthenticated() == false"><a routerLink="account/register"><span class="glyphicon glyphicon-user"></span> Registreren</a></li>
      <li *ngIf="isAuthenticated() == false"><a data-toggle="collapse" data-target="#login"><span class="glyphicon glyphicon-log-in"></span> Inloggen</a></li>
      <li *ngIf="isAuthenticated() == true"><a routerLink="order/history"><span class="glyphicon glyphicon-log-in"></span> Mijn account</a></li>
    </ul>
  </div>
</nav>
</div>
<div id="login" *ngIf="isAuthenticated() == false" class="collapse">
  <app-login></app-login>
</div>
